extends layout

block content
  h1
    a(href="https://developers.google.com/speed/docs/insights/about") PageSpeed Insights
    |  for #{meta.url}

  script.
    var data = !{JSON.stringify(data)}
    var meta = !{JSON.stringify(meta)}
  script(src='/javascripts/bundle.js')
