doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script.
      var data = !{JSON.stringify(data)}
      var meta = !{JSON.stringify(meta)}
  body
    block content

  script(src='http://d3js.org/d3.v3.js')
  script(src='/javascripts/app.js')
