body {
  padding: 20px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.area {
  fill: rgba(70, 130, 180, 0.3);
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.circle {
  opacity: 0;
  stroke: steelblue;
  fill: white;
}

.circle:hover {
  opacity: 1;
}

 .d3-tip {
  font-size: 12px;
  background-color: aliceblue;
  border: 1px solid steelblue;
  padding: 4px;
  border-radius: 3px;
}
